<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wdl.spring.dao.ITestMapper">

    <update id="test">
        update test.user set name= 'wdlx' where uid = 'wdl';
    </update>

</mapper>